<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ClientCount" value="1" />
		<add key="MessageLength" value="128" />
		<add key="Ipaddress" value="127.0.0.1" />
		<add key="port" value="14000" />
		<add key="size" value="1000000" />
	</appSettings>

</configuration>